# exclude all
*/Objects
*/Listings
*/*/Objects
*/*/Listings
*.uvgui.*

# sourcecode
!*.uvmpw
!*.uvproj
!*.uvopt
!*.A51
!*.h
!*.c

# executables
!*.hex

# include markdowns
!LICENSE
!README.md

# include git important files
!.gitignore
