<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <style>
            <% for (var cssFile of htmlWebpackPlugin.files.css) { %>
                <%= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
            <% } %>
        </style>
    </head>
    <body>
        <main>
            <h1 class="title"><%= htmlWebpackPlugin.options.title %></h1>
            <p class="subtitle">控制台</p>
            <div class="pure-form">
                <input id="url" type="text" placeholder="请输入地址..." value="ws://192.168.4.1:81/" />
                <button id="connect" class="pure-button" onclick="rws.reconnect()">连接</button>
                <button id="disconnect" class="pure-button" onclick="rws.close()">断开</button>
            </div>
            <textarea id="console" readonly></textarea>
            <div class="pure-form">
                <input id="command" type="text" placeholder="请输入命令..." />
                <button id="send" class="pure-button" onclick="sendCommand()">发送</button>
            </div>
            <p class="subtitle">授权</p>
            <div class="pure-form">
                <input id="code" type="text" placeholder="请输入授权码..." />
                <button id="auth" class="pure-button" onclick="auth()">认证</button>
            </div>
            <p class="subtitle">WIFI设置</p>
            <div class="pure-form">
                <input id="wifi-ssid" type="text" placeholder="SSID" />
                <input id="wifi-pw" type="password" placeholder="密码" />
                <button id="wifi-connect" class="pure-button" onclick="connectWifi()">连接</button>
            </div>
        </main>
        <% for (var jsFile of htmlWebpackPlugin.files.js) { %>
            <script defer src="<%= jsFile.substr(htmlWebpackPlugin.files.publicPath.length) %>"></script>
        <% } %>
    </body>
</html>
